* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  line-height: 1.2rem;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: #050505;;
}

.forms {
  background-color: white;
  width: 50%;
  display: block;
  margin: 20rem auto;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgb(64, 163, 64);
}

form {
  flex: 1;
  margin-top: 1rem;
}
.icon {
  padding: 10px;  
  color: #04aa6d;
  min-width: 50px;
  text-align: center;
}
.container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}